.DS_Store
*._*
*.m~

# Dataset
dataset/deap*/mp4
dataset/deap*/test*
dataset/deap*/wmv

dataset/lindsey*/audio
dataset/lindsey*/test*
dataset/lindsey*/video

dataset/cognimuse*

# Results
results/*/*_*
!results/*/mturk*.csv
saved_mats/*/features*
